.App {
  font-family: sans-serif;
  margin-top: 30px;
  text-align: center;
}

.letterButton {
  margin: 5px;
}

.gameWon h1 {
  margin-top: 20px;
}

.hangmanLetter {
  font-size: 60px;
  letter-spacing: 20px;
  display: inline-block;
}

.gallows {
  margin-top: 20px;
}

.hangmanio {
  font-family: bubblegums;
  text-transform: uppercase;
  margin: 40px;
}

@font-face {
  font-family: "bubblegums";
  src: url("BUBBLEGUMS.TTF");
}

.homescreen-title h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: bubblegums;
  font-size: 80px;
  color: black;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);

  margin-top: 40px;
  margin-bottom: 40px;
}

.homescreen-title h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
.homescreen-title h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
.homescreen-title h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
.homescreen-title h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
.homescreen-title h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
.homescreen-title h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
.homescreen-title h1 span:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

.homescreen button {
  margin: 10px;
  font-size: 35px;
}

.hints {
  margin: 20px;
}

.shakeButton {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.winStreak {
  font-size: 30px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}